/**
 *
 * {{ properCase name }} Test
 * @format
 *
 */

// @flow

import React from 'react';
import renderer from 'react-test-renderer';

import {{ properCase name }} from '../{{ properCase name }}';

test('{{ properCase name }}', () => {
  const tree = renderer
    .create(
      <{{ properCase name }} />
    )
    .toJSON();
  expect(tree).toMatchSnapshot();
});
