/**
 *
 * {{ properCase name }}
 * @format
 *
 */

// @flow

import React from 'react';

import {{ properCase name }}Config from './config';

import {{ properCase name }}Styles from './styles';
import type {PropsType} from './types';

const {{ properCase name }} = (props: PropsType) => {
  const {} = props;

  return ;
};

{{ properCase name }}.defaultProps = {};

export default {{ properCase name }};
